.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
	background-color: rgba(126, 7, 206, 0.747); 
	border-style:ridge;
}

